<h1><%=user_name%>: <%=first_name%> <%=last_name%></h1>
	<%if num1 == ""%>
		<h2>Enter numbers below</h2>
		<h2>Then pick an operation</h2>
	<%elsif solution.class == String && solution != "Undefined"%>
		<h2><%=solution%></h2>
			<%if operator == " " %>
				<h2><%=num1%> + <%=num2%></h2>
			<%elsif operator == "/" %>
				<h2><%=num1%> ÷ <%=num2%></h2>
			<%elsif operator == "*" %>
				<h2><%=num1%> × <%=num2%></h2>
			<%elsif operator == "+" %>
				<h2><%=num1%> + <%=num2%></h2>
			<%else%>
				<h2><%=num1%> - <%=num2%></h2>
			<%end%>
	<%elsif operator == " " %>
		<h2>Solution:</h2>
		<h2><%=num1%> + <%=num2%> = <%=solution%></h2>
	<%elsif operator == "/" %>
		<h2>Solution:</h2>
		<h2><%=num1%> ÷ <%=num2%> = <%=solution%></h2>
	<%elsif operator == "*" %>
		<h2>Solution:</h2>
		<h2><%=num1%> × <%=num2%> = <%=solution%></h2>
	<%elsif operator == "+" %>
		<h2>Solution:</h2>
		<h2><%=num1%> + <%=num2%> = <%=solution%></h2>
	<%else%>
		<h2>Solution:</h2>
		<h2><%=num1%> - <%=num2%> = <%=solution%></h2>
	<%end%>
<form method="post" action="calculator">
<input type="hidden" name="user_name" value="<%=user_name%>">
<input type="hidden" name="first_name" value="<%=first_name%>">
<input type="hidden" name="last_name" value="<%=last_name%>">
<input type="text" name="num1" placeholder="1st Number" required autofocus>
<input type="text" name="num2" placeholder="2nd Number" required>
<br><br>
<input type="radio" name="operator" value="+" id="add" required>
<label for="add">Add</label>
<input type="radio" name="operator" value="-" id="subtract">
<label for="subtract">Subtract</label>
<br><br>
<input type="radio" name="operator" value="*" id="multiply">
<label for="multiply">Multiply</label>
<input type="radio" name="operator" value="/" id="divide">
<label for="divide">Divide</label>
<br><br>
<input type="submit" value="Calculate" onclick>
</form>